@font-face {
  font-family: 'OtomanopeeOne';
  src: url('../src/fonts/OtomanopeeOne-Regular.ttf') format('ttf'),
      url('../src/fonts/OtomanopeeOne-Regular.ttf') format('ttf');
  /* Adicione outros formatos de fonte, se necessário */
}

.sua-classe {
  font-family: 'OtomanopeeOne';
}

.templateTexto{
    color:#00A2E3;
  }
  .templatefundoMenu{
    background-color: rgba(255, 255, 255, 0.57);
  }
  .templatefundo{
    background-color: #00A2E3;
  }
  .templatefundoOpacity{
    background-color: #00a3e361;
  }
  .menuIMG_fundo{
    background-image: url('../public/big-img-top.png');
    background-size: cover; /* Garante que a imagem cubra todo o fundo */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
  }
  .menuIMG_fundo2{
    background-image: url('../public/moca.png');
    background-size: cover; /* Garante que a imagem cubra todo o fundo */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
  }

 
  /* LINK E BOTÕES */
  .templateLink3 a:hover{
    color: #00A2E3;
  }
  .templateLink1 a:hover{
    background-color: #00A2E3;
    color: white;
  }
  .templateLink2 a:hover{
    background-color: white;
    color: #00A2E3;
  }

  .templateHover1 {
    background-color: #00A2E3;
    color: white;
  }
  .templateHover2 {
    background-color: white;
    color: #00A2E3;
  }

  .templateHover3 {
    background-color: white;
    color: #00A2E3;
  }


  
  .templateHover1:hover {
    background-color: white ;
    color: #00A2E3;
  }
  .templateHover2:hover {
    background-color: #00A2E3;
    color: white;
  }
  .templateHover3:hover {
    background-color: #f5f5f5;
    border: none;
  }

  /* BORDAS -HOME */

  .bordasButton{
    border-bottom: 5px solid #00A2E3;
  }
  .bordasTotal{
    border: 1px solid #00A2E3;
  }

  /* ------BARRA DE ROLAGEM DA PESQUISA DO CORPO----------*/

  /* No seu arquivo styles.css */
.scrollbar::-webkit-scrollbar {
  width: 5px; /* Largura da barra de rolagem */
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #00A2E3;  /* Cor do botão da barra de rolagem */
  border-radius: 1px; /* Raio das bordas do botão da barra de rolagem */
}

.scrollbar::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Cor do fundo da barra de rolagem */
}

 /* ------BARRA DE ROLAGEM DA PESQUISA DO CORPO----------*/

  /* No seu arquivo styles.css */
  .scrollbar2::-webkit-scrollbar {
    width: 3px; /* Largura da barra de rolagem */
  }
  
  .scrollbar2::-webkit-scrollbar-thumb {
    background-color: #f0f0f0;  /* Cor do botão da barra de rolagem */
    border-radius: 1px; /* Raio das bordas do botão da barra de rolagem */
  }
  
  .scrollbar2::-webkit-scrollbar-track {
    background-color: #ffffff; /* Cor do fundo da barra de rolagem */
  }
  
  



/* _________________ LOGIM _________________ */
.loginFundo{
  background-image: url('../public/loginfundo.png');
  background-size: cover; /* Garante que a imagem cubra todo o fundo */
  background-repeat: no-repeat; /* Evita a repetição da imagem */

  /* width: 1500px; */
}