@font-face {
  font-family: 'OtomanopeeOne';
  src: url('../src/fonts/OtomanopeeOne-Regular.ttf') format('ttf'),
      url('../src/fonts/OtomanopeeOne-Regular.ttf') format('ttf');
  /* Adicione outros formatos de fonte, se necessário */
}

.sua-classe {
  font-family: 'OtomanopeeOne';
}

.templateTexto{
    color:#00A2E3;
  }
  .templatefundoMenu{
    background-color: rgba(255, 255, 255, 0.57);
  }
  .templatefundo{
    background-color: #00A2E3;
  }
  .templatefundoOpacity{
    background-color: #00a3e361;
  }
  .menuIMG_fundo{
    background-image: url('../public/big-img-top.png');
    background-size: cover; /* Garante que a imagem cubra todo o fundo */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
  }
  .menuIMG_fundo2{
    background-image: url('../public/moca.png');
    background-size: cover; /* Garante que a imagem cubra todo o fundo */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
  }
  /* LINK E BOTÕES */
  .templateLink3 a:hover{
    color: #00A2E3;
  }
  .templateLink1 a:hover{
    background-color: #00A2E3;
    color: white;
  }
  .templateLink2 a:hover{
    background-color: white;
    color: #00A2E3;
  }

  .templateHover1 {
    background-color: #00A2E3;
    color: white;
  }
  .templateHover2 {
    background-color: white;
    color: #00A2E3;
  }

  .templateHover1:hover {
    background-color:white ;
    color: #00A2E3;
  }
  .templateHover2:hover {
    background-color: #00A2E3;
    color: white;
  }

  /* BORDAS -HOME */

  .bordasButton{
    border-bottom: 5px solid #00A2E3;
    color: #4c4b4b;
  }

  /* ----------------*/
